<p>1. Select a campaign </p>

<ui-select ng-model="campaign.value">
    <ui-select-match placeholder="Enter an address...">
        <span ng-bind="$select.selected.redirect_url"></span>
    </ui-select-match>
    <ui-select-choices repeat="item in (list | filter: $select.search) track by item.id">
        <span ng-bind="item.redirect_url" style="font-weight:900;font-family:Arial;"></span><br>
        <span ng-bind="item.id" style="font-size: 1em;"></span><br>
        <span ng-bind="item.platform" style="font-size: 1em;"></span>
    </ui-select-choices>
</ui-select>

<br>
<p class="alert alert-info" role="alert" align="center">
    {{campaign.value.id}} <br>{{campaign.value.platform}}
</p>


<br>

<p>2. Select platform </p>
<ui-select ng-model="platform.value">
    <ui-select-match placeholder="Enter platform...">
        <span ng-bind="$select.selected.name"></span>
    </ui-select-match>
    <ui-select-choices repeat="item in (platformsList | filter: $select.search) track by item.name">
        <span ng-bind="item.name" style="font-size: 1em;"></span>
    </ui-select-choices>
</ui-select>

<br>
<p class="alert alert-info" role="alert" align="center">
    {{platform.value.name}}
</p>
<br>

<p>3. Test endpoint </p>
<a ng-show="platform.value.name && campaign.value.id" href="http://127.0.0.1:8080/_ah/spi/redirectos?platform={{platform.value.name}}&campaign={{campaign.value.id}}" target="_blank" class="linky">Test link (will open in new tab)</a>
<br>
<br>
<br>
<p>4. Get analytics </p>
<p align="center">
    <a class="btn btn-success btn abut" href="" ng-click="getClicksByPlatform(platform.value.name)">Check clicks based on platform</a>
    <a class="btn btn-info btn abut" href="" ng-click="getClicksByPlatformAndCampaign(platform.value.name,campaign.value.id)">Check clicks based on platform and campaign</a>
</p>
<br>
<p class="alert alert-success" role="alert" align="center">
    Based on a given platform: {{counterByPlatform}} clicks <br>
</p>
<p class="alert alert-info" role="alert" align="center">
    Based on given platform and campaign: {{counterByPlatformAndCampaign}} clicks
</p>


<br><br>
