<br>
<p class="subheader">1. Backend URL (leave blank in production)</p>

<div class="input-group">
  <span class="input-group-addon">
      <span class="glyphicon glyphicon-globe"></span>
  </span>
  <input type="text" class="form-control" placeholder="backend URL" ng-model="backend_addr_new">
</div>

<br>
<br>

<p class="subheader">2. Admin credentials</p>
<div class="input-group">
  <span class="input-group-addon">
      <span class="glyphicon glyphicon-user"></span>
  </span>
  <input type="text" class="form-control" placeholder="username" ng-model="username_new">
</div>

<br>
<div class="input-group">
  <span class="input-group-addon">
      <span class="glyphicon glyphicon-hand-right"></span>
  </span>
  <input type="password" class="form-control" placeholder="password" ng-model="password_new">
</div>

<br>

<br>
<p align="center">
    <a class="btn btn-info btn abut" ng-click="testConnection()">Test conntectivity</a>
    <a class="btn btn-success btn abut href="" ng-click="setPrefs()">Apply new settings</a>
</p>
<br>
<br>
<br>
<br>
